import url('https://fonts.googleapis.com/css?family=Slabo+27px');


h1 {
    text-align: center;
}

*{
    background: linear-gradient(-90deg,#EDF5F8,#39AFED);
}
p{
    text-align: center;
    color:#7f2020;
    font-family: 'Slabo 27px', serif;
}
        
   